@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap");

:root {
  /* (main background) */
  --Very-dark-blue: hsl(233, 47%, 7%);
  /* (card background) */
  --Dark-desaturated-blue: hsl(244, 38%, 16%);
  /* (accent) */
  --Soft-violet: hsl(277, 64%, 61%);
  /* (main heading, stats) */
  --White: hsl(0, 0%, 100%);
  /* (main paragraph) */
  --Slightly-transparent-white: hsla(0, 0%, 100%, 0.75);
  /* (stat headings) */
  --Slightly-transparent-white: hsla(0, 0%, 100%, 0.6);
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 177px;
  background-color: var(--Very-dark-blue);
}

.text-container {
  width: 555px;
  height: 445px;
  background-color: var(--Dark-desaturated-blue);
  border-radius: 10px 0 0 10px;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  flex-direction: column;
}

.img-container {
  position: relative;
  width: 555px;
  height: 445px;
  background: linear-gradient(
      0deg,
      rgba(177, 104, 222, 0.5),
      rgba(177, 104, 222, 0.6)
    ),
    url(./images/image-header-desktop.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 0 10px 10px 0;
}

h1 {
  width: 390px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  color: var(--White);
  margin: 70px 0 25px 0;
}

.insights {
  color: var(--Soft-violet);
}

p {
  font-family: "Inter";
  font-weight: 700;
  font-size: 14px;
  line-height: 180%;
  letter-spacing: 0.02em;
  color: var(--Slightly-transparent-white);
  width: 390px;
  margin: 0 0 65px 0;
}

.statistics {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 60px;
  width: 390px;
}

.group-dt {
  display: flex;
  flex-direction: column;
}

.digits {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 180%;
  display: flex;
  align-items: center;
  margin: -4px 0px;
  color: var(--White);
}

.text {
  font-family: "Lexend Deca";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 180%;
  display: flex;
  align-items: center;
  color: var(--Slightly-transparent-white);
}

@media only screen and (max-width: 600px) {
  body {
    flex-direction: column-reverse;
  }
  .img-container {
    width: 325px;
    height: 240px;
    border-radius: 10px 10px 0 0;
  }

  .text-container {
    width: 325px;
    border-radius: 0 0 10px 10px;
    display: flex;
    align-items: center;
    text-align: center;
    height:540px;
  }

  .statistics {
    flex-direction: column;
    display: flex;
    align-items: center;
    gap: 20px;
    margin:10px 0 0 0;
  }

  .group-dt {
    display: flex;
    align-items: center;
  }

  h1 {
    font-size:30px;
    text-align: center;
    width: 300px;
    margin:50px 0 0 0;
  }

  p{
    margin:10px 0 0 0;
    width:270px;
  }
}
